#acesso{
	width: 250px;
	height: 75px;
	border-width: : 1px;
	text-align: center;
}

#container{
	width: 100%;
	display: inline-block;
}

.topo{
	width: 100%;
	height: 50px;
	margin: auto;
	text-align: center;
	background-color:#00BFFF;

}